body {
  background-color: whitesmoke;
  font-family: "Times New Roman", Times, serif;
  font-size: 20px;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#view-scores {
  color: rgb(207, 41, 207);
  text-decoration: none;
  justify-content: flex-start;
  padding-left: 20px;
}

#timer {
  color: black;
  display: flex;
  justify-content: space-evenly;
  padding-right: 80px;
}

main {
  display: flex;
  justify-content: center;
  margin: auto;
}

.start-button {
  font-family: "Times New Roman", Times, serif;
  font-size: large;
  height: 50px;
  width: 125px;
}

.parent-intro {
  display: flex;
  align-content: center;
  top: 50%;
}

.into {
  height: 50vh;
  width: 100vh;
  border: black;
  border-style: solid;
  border-width: 3px;
  text-align: center;
  justify-content: center;
}

main h1 {
  text-align: center;
  padding-top: 80px;
}

main p {
  text-align: center;
}

button {
  height: 35px;
  width: 70px;
  background-color: cornflowerblue;
}

.questions-div {
  text-align: center;
  align-items: center;
  width: 100vh;
}

.quiz-button {
  width: 150px;
  height: 60px;
  font-family: "Times New Roman", Times, serif;
  font-size: medium;
}

.show-score {
  width: 200px;
  height: 60px;
  text-align: center;
}

.btn {
  font-family: "Times New Roman", Times, serif;
  margin-top: 10px;
  height: 25px;
  width: 70px;
}

#finalScore {
  display: flex;
  align-content: center;
  text-align: center;
  justify-content: left;
  padding-top: 200px;
}
